In [1]:
import pandas as pd
import glob
import os
import json, re

In [2]:
#get all csv

all_data = []
path = "../meld_data"
csv_files = sorted(glob.glob(os.path.join(path, '*.csv')))

In [3]:
#convert to df

for csv in csv_files:
    df = pd.read_csv(csv)
    all_data.append(df)

df_final = pd.concat(all_data, ignore_index = True)

In [4]:
df_final

,Sr No.,Utterance,Speaker,Emotion,Sentiment,Dialogue_ID,Utterance_ID,Season,Episode,StartTime,EndTime
0,1,"Oh my God, he’s lost it. He’s totally lost it.",Phoebe,sadness,negative,0,0,4,7,"00:20:57,256","00:21:00,049"
1,2,What?,Monica,surprise,negative,0,1,4,7,"00:21:01,927","00:21:03,261"
2,3,"Or! Or, we could go to the bank, close our acc...",Ross,neutral,neutral,1,0,4,4,"00:12:24,660","00:12:30,915"
3,4,You’re a genius!,Chandler,joy,positive,1,1,4,4,"00:12:32,334","00:12:33,960"
4,5,"Aww, man, now we won’t be bank buddies!",Joey,sadness,negative,1,2,4,4,"00:12:34,211","00:12:37,505"
...,...,...,...,...,...,...,...,...,...,...,...
13835,1608,"Yeah, maybe...",Rachel,joy,positive,164,8,1,1,0 days 00:21:18.235000,0 days 00:21:21.821000
13836,1608,"Yeah, maybe...",Rachel,joy,positive,164,8,1,1,0 days 00:21:18.235000,0 days 00:21:21.821000
13837,1609,"Okay... okay, maybe I will...",Ross,joy,positive,164,9,1,1,0 days 00:21:20.529000,0 days 00:21:31.872000
13838,1609,"Okay... okay, maybe I will...",Ross,joy,positive,164,9,1,1,0 days 00:21:20.529000,0 days 00:21:31.872000
13839,1609,"Okay... okay, maybe I will...",Ross,joy,positive,164,9,1,1,0 days 00:21:20.529000,0 days 00:21:31.872000

In [5]:
#sort the df

df_final['StartTime'] = pd.to_timedelta(df_final['StartTime'].str.replace(',', '.'))
df_final['EndTime'] = pd.to_timedelta(df_final['EndTime'].str.replace(',', '.'))

df_sorted = df_final.sort_values(by=['Season', 'Episode', 'StartTime']).reset_index(drop=True)

In [6]:
df_sorted

,Sr No.,Utterance,Speaker,Emotion,Sentiment,Dialogue_ID,Utterance_ID,Season,Episode,StartTime,EndTime
0,5550,"Alright, so I'm back in high school, I'm stand...",Chandler,neutral,neutral,559,0,1,1,0 days 00:01:19.037000,0 days 00:01:25.417000
1,5550,"Alright, so I'm back in high school, I'm stand...",Chandler,neutral,neutral,559,0,1,1,0 days 00:01:19.037000,0 days 00:01:25.417000
2,5550,"Alright, so I'm back in high school, I'm stand...",Chandler,neutral,neutral,559,0,1,1,0 days 00:01:19.037000,0 days 00:01:25.417000
3,5550,"Alright, so I'm back in high school, I'm stand...",Chandler,neutral,neutral,559,0,1,1,0 days 00:01:19.037000,0 days 00:01:25.417000
4,5551,"Oh, yeah. Had that dream.",All,neutral,neutral,559,1,1,1,0 days 00:01:25.627000,0 days 00:01:27.169000
...,...,...,...,...,...,...,...,...,...,...,...
13835,1165,"I never sucked, I actually didn't want you to ...",Chandler,neutral,neutral,122,0,9,23,0 days 00:46:21.737000,0 days 00:46:26.249000
13836,1166,Why?,Monica,surprise,negative,122,1,9,23,0 days 00:46:25.240000,0 days 00:46:26.742000
13837,1167,I don't know.,Chandler,neutral,neutral,122,2,9,23,0 days 00:46:26.742000,0 days 00:46:27.032000
13838,1168,This is so great! Now we can enter into double...,Monica,joy,positive,122,3,9,23,0 days 00:46:27.117000,0 days 00:46:32.038000
13839,1169,That's,Chandler,neutral,neutral,122,4,9,23,0 days 00:46:29.119000,0 days 00:46:32.038000

In [7]:
pd.set_option('display.max_colwidth', None)

df_season1_ep1 = df_sorted[df_sorted['Season'] == 1 & (df_sorted['Episode'] == 1)]
df_season1_ep1

,Sr No.,Utterance,Speaker,Emotion,Sentiment,Dialogue_ID,Utterance_ID,Season,Episode,StartTime,EndTime
0,5550,"Alright, so I'm back in high school, I'm standing in the middle of the cafeteria, and I realize I am totally naked.",Chandler,neutral,neutral,559,0,1,1,0 days 00:01:19.037000,0 days 00:01:25.417000
1,5550,"Alright, so I'm back in high school, I'm standing in the middle of the cafeteria, and I realize I am totally naked.",Chandler,neutral,neutral,559,0,1,1,0 days 00:01:19.037000,0 days 00:01:25.417000
2,5550,"Alright, so I'm back in high school, I'm standing in the middle of the cafeteria, and I realize I am totally naked.",Chandler,neutral,neutral,559,0,1,1,0 days 00:01:19.037000,0 days 00:01:25.417000
3,5550,"Alright, so I'm back in high school, I'm standing in the middle of the cafeteria, and I realize I am totally naked.",Chandler,neutral,neutral,559,0,1,1,0 days 00:01:19.037000,0 days 00:01:25.417000
4,5551,"Oh, yeah. Had that dream.",All,neutral,neutral,559,1,1,1,0 days 00:01:25.627000,0 days 00:01:27.169000
...,...,...,...,...,...,...,...,...,...,...,...
171,1608,"Yeah, maybe...",Rachel,joy,positive,164,8,1,1,0 days 00:21:18.235000,0 days 00:21:21.821000
172,1609,"Okay... okay, maybe I will...",Ross,joy,positive,164,9,1,1,0 days 00:21:20.529000,0 days 00:21:31.872000
173,1609,"Okay... okay, maybe I will...",Ross,joy,positive,164,9,1,1,0 days 00:21:20.529000,0 days 00:21:31.872000
174,1609,"Okay... okay, maybe I will...",Ross,joy,positive,164,9,1,1,0 days 00:21:20.529000,0 days 00:21:31.872000
175,1609,"Okay... okay, maybe I will...",Ross,joy,positive,164,9,1,1,0 days 00:21:20.529000,0 days 00:21:31.872000

In [8]:
#episode coverage
df_episode_check = df_sorted.groupby('Season')['Episode'].nunique()

In [9]:
df_episode_check

Season
1    23
2    15
3    25
4    21
5    24
6    24
7    24
8    23
9    11
Name: Episode, dtype: int64

In [10]:
#df_season1_ep1.to_csv("../meld_data/utterrance_ep1.csv", index=False)

In [11]:
#get the durations of all dialogue in s1-s6 from transcripts



transcript_rows = []
base_dir = "/home/cleode5a7/Desktop/analyses_friends_annotations/friends_annotations/annotation_results/Speech2Text/"

for season_folder in glob.glob(os.path.join(base_dir, "s[1-6]")):
    # All JSON files starting with 'friends'
    for file in glob.glob(os.path.join(season_folder, "friends*.json")):
        fname = os.path.basename(file)
        m = re.search(r"s(\d+)e(\d+)", fname)
        if m:
            season_num = int(m.group(1))
            ep_num = int(m.group(2))
        else:
            continue  # skip files that don't match

        with open(file) as f:
            data = json.load(f)

        words = data["results"]["channels"][0]["alternatives"][0]["words"]

        for w in words:
            transcript_rows.append({
                "Season": season_num,
                "Episode": ep_num,
                "Start": w["start"],
                "End": w["end"]
            })

# Build DataFrame
transcript_df = pd.DataFrame(transcript_rows)
transcript_df["Duration"] = transcript_df["End"] - transcript_df["Start"]

# Total spoken time per episode
episode_times = transcript_df.groupby(["Season", "Episode"])["Duration"].sum().reset_index()
print(episode_times)

season_times = transcript_df.groupby(["Season"])["Duration"].sum().reset_index()

print(season_times)

     Season  Episode  Duration
0         1        1   947.476
1         1        2   759.636
2         1        3   699.138
3         1        4   816.882
4         1        5   764.808
..      ...      ...       ...
137       6       20   751.220
138       6       21   841.624
139       6       22   722.988
140       6       23   835.442
141       6       24  1499.660

[142 rows x 3 columns]
   Season   Duration
0       1  18232.210
1       2  18005.182
2       3  18932.562
3       4  17577.340
4       5  18376.746
5       6  19359.578

In [12]:

def to_seconds(t):
    h, m, s = t.replace(',', '.').split(':')
    return int(h)*3600 + int(m)*60 + float(s)

# Load annotations
annotations = df_sorted

# Annotated time per season
# Annotated time per season
annotated_times = {
    season: sum(
        (e - s).total_seconds()
        for s, e in zip(
            annotations[annotations["Season"] == season]["StartTime"],
            annotations[annotations["Season"] == season]["EndTime"]
        )
    )
    for season in range(1, 7)
}
 # convert to df
annotated_df = pd.DataFrame(list(annotated_times.items()), columns=["Season", "AnnotatedDuration"])

In [13]:
annotated_times

{1: 6118.228, 2: 1522.791, 3: 7552.381, 4: 4948.577, 5: 5018.456, 6: 6065.9}

In [14]:
annotated_df

   Season  AnnotatedDuration
0       1           6118.228
1       2           1522.791
2       3           7552.381
3       4           4948.577
4       5           5018.456
5       6           6065.900

In [15]:
season_comparison = pd.merge(season_times, annotated_df, on="Season")

# Compute coverage %
season_comparison["CoveragePercent"] = (season_comparison["AnnotatedDuration"] / season_comparison["Duration"]) * 100

print(season_comparison)

   Season   Duration  AnnotatedDuration  CoveragePercent
0       1  18232.210           6118.228        33.557248
1       2  18005.182           1522.791         8.457515
2       3  18932.562           7552.381        39.890961
3       4  17577.340           4948.577        28.153162
4       5  18376.746           5018.456        27.308730
5       6  19359.578           6065.900        31.332811